[Unit]
Description=OpenTTD Dedicated Server
Documentation=https://wiki.openttd.org/en/Manual/Server
After=network.target

[Service]
#ExecStartPre=/usr/local/bin/generate_seed.sh
ExecStartPre=/usr/local/bin/shuffle_settings.pl
EnvironmentFile=-/etc/default/opentt.d/*
WorkingDirectory=<GAME_INSTALL>
ExecStart=<EXECUTABLE_PATH> $CLI_OPTS $CLI_SEED $CLI_CONF
KillMode=mixed
Restart=on-failure
Type=simple
RestartSec=10
User=<USER>

[Install]
WantedBy=multi-user.target
Alias=openttd.service
